.navigation {
  height: 50px;
  width: 100%;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation ul li {
  list-style: none;
}

.navigation ul li a {
  text-decoration: none;
  color: #111;
}
