.notesPage {
  min-height: calc(100vh - 50px - 2em);
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-image: linear-gradient(to top, var(--main-blue), var(--dark-blue));
}

.notesForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.notesForm input {
  width: 100%;
  max-width: 500px;
  font-size: 1em;
  padding: 0.3em 0.8em;
  border: none;
  border-radius: 5px;
  font-family: var(--main-font);
  outline: none;
  margin: 0.5em;
}

.notesForm textarea {
  width: 100%;
  max-width: 500px;
  font-size: 1em;
  padding: 0.3em 0.8em;
  border: none;
  border-radius: 5px;
  font-family: var(--main-font);
  outline: none;
}

.addBtn {
  width: calc(100% - 2em);
  max-width: 200px;
  margin: 0.5em auto;
  font-size: 1.5em;
  padding: 0.3em 0.8em;
  border: none;
  border-radius: 5px;
  font-family: var(--main-font);
  background-color: var(--dark-blue);
  color: #fff;
  transition: all 250ms ease-in-out;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.4);
}

.notesList {
  list-style-type: none;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  padding: 0;
  margin: 0.5em auto;
}

.notesList li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #111;
  background-color: var(--main-white);
  padding: 0 0.5em;
  border-radius: 5px;
  margin: 0 0.5em;
}

.notesList textarea {
  height: auto;
  width: calc(100% - 2em);
  font-size: 1em;
  padding: 0.3em 0.8em;
  border: none;
  border-radius: 5px;
  font-family: var(--main-font);
  outline: none;
}

.moreBtn {
  width: calc(100% - 2em);
  max-width: 200px;
  margin: 0.5em auto;
  font-size: 1.5em;
  padding: 0.3em 0.8em;
  border: none;
  border-radius: 5px;
  font-family: var(--main-font);
  background-color: var(--dark-blue);
  color: #fff;
  transition: all 250ms ease-in-out;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.4);
}

.btnContainer {
  display: flex;
  align-items: flex-end;
}

.btnContainer button {
  width: calc(100% - 2em);
  max-width: 100px;
  margin: 0.5em;
  font-size: 1em;
  padding: 0.3em 0.8em;
  border: none;
  border-radius: 5px;
  font-family: var(--main-font);
  background-color: var(--dark-blue);
  color: #fff;
  transition: all 250ms ease-in-out;
  box-shadow: 1px 1px 5px var(--dark-blue);
}

button:hover {
  box-shadow: 2px 3px 4px var(--dark-blue);
  cursor: pointer;
  background-color: var(--main-blue);
}

.noteText {
  padding: 0.5em;
  height: auto;
}

.noteText h1 {
  margin-top: 0;
  font-size: 1.5em;
}

.active {
  display: block;
  transition: all 250ms ease-in-out;
}

.notActive {
  display: none;
  transition: all 250ms ease-in-out;
}

.noteText small {
  color: var(--main-blue);
  font-weight: 600;
}

.noteText small:hover {
  cursor: pointer;
}
