@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Lobster&display=swap");

:root {
  --main-font: "Nunito", sans-serif;
  --title-font: "Lobster", cursive;
  --main-blue: #623cea;
  --dark-blue: #54426b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  font-family: var(--main-font);
}

hr {
  color: var(--red);
}
